<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Buscar Perfis</title>
</head>
<body>
    <a class="back-button">
        <img class="back-button-icon"  src="img/icons8-à-esquerda-dentro-de-um-círculo-96.png" alt="Voltar">
    </a>
    <div class="form-container">
        <div class="retangulo">
            <img class="imagem-cco" src="img/WhatsApp_Image_2024-08-13_at_12.44.09-removebg-preview (2).png" alt="CCO">
                <div class="formulario">
                    <h1 class="title">Busca de Perfil</h1>
                    <p>Categoria <input type="text" name="categoria"></p>
                    <p>Perfil TR <input type="text" name="perfil-tr"></p>
                    <p>Senioridade <input type="text" name="senioridade"></p>
                    <p>Formação <input type="text" name="formacao"></p>
                    <p>Tempo de Experiência <input type="text" name="tempo-experiencia"></p>
                    <p>Certificações exigidas <input type="text" name="certificacoes"></p>
                    <p>Responsabilidades <input type="text" name="responsabilidades"></p>
                    <button class="filtrar-btn">Filtrar 🔍</button>
                </div>
        </div>
    </div>
</body>
</html>