body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Fundo escuro */
    color: #663883; /* Texto claro */
}
.imagem-cco{
    display: block;
    margin: auto;
}

.title{
    text-align: center;
}
.retangulo {
    border: 2px solid #e0e0e0; /* Borda em tom mais escuro */
    background-color: #e0e0e0; /* Fundo do retângulo mais escuro */
    padding: 20px;
    width: 350px;
    border-radius: 5px;
}

.formulario p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-bottom: 15px;
}

input{
    height: 2rem;
}

.formulario input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #e6e6e6; /* Fundo do input escuro */
    color: #000000; /* Texto claro no input */
    border: 1px solid #e6e6e6; /* Borda dos inputs mais escura */
}

.adicionar-formulario {
    margin: 15px 0;
    text-align: center;
    background-color: #663883; /* Cor de fundo do espaço */
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white; /* Texto claro */
    font-size: 16px;
    border: none;
}

.adicionar-formulario:hover {
    background-color: #89c441; /* Cor de fundo ao passar o mouse */
}

.filtrar-btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #663883; /* Mantém a cor do botão */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.filtrar-btn:hover {
    background-color: #89c441; /* Cor de hover do botão */
}
